{% extends "base.html" %}
{% load static %}

{% block title %}{{ phones.name }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h2>Модель телефона:</h2>
            <h3>{{ phones.name }}</h3>
        </div>
        <h4 class="content">
            <img height="400" src="{{ phones.image }}" alt="{{ phones.name }}"/>
            <h5>Стоимость: {{ phones.price }} ₽</h5>
            <h5>Дата выпуска: {{ phones.release_date }}</h5>
            {% if phones.lte_exists == True %}
            <h5>Наличие LTE: Да</h5>
            {% else %}
            <h5>Наличие LTE: Нет</h5>
            {% endif %}
            <button><a href="{% url 'catalog' %}">Назад</a></button>

        </div>
    </div>
{% endblock %}